.popover-content {
  outline: 0;
  padding: 25px;
  background: var(--background);
  box-shadow:
    hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;

  .arrow {
    fill: var(--background);
  }
}