
:root {
  --background: #f1efe7;
  --foreground: #0a0a0a;
  --accent: #c07858;
  --accent-4: #E4CBC1;
  --accent-5: #E0BEB0;
  // --inverted: #3f87a7;
  --inverted: #58a0c0;
  --inverted-5: #c6d6dd;
  --white: #ffffff;
  --black: #3c3d42;
  --gray: #d7d7d7;
  --gray-5: #e6e6e6;
  --gray-9: #7e808a;
  --green: #58c078;
  --green-5: rgba(88, 192, 120, 0.2);
  --red: rgb(235, 87, 87);

  --width-name: 300px;
  --width-col: 45px;
  --height-row: 40px;
  --dot-size: 16px;

  --toastify-color-light: var(--background); 
  --toastify-color-progress-light: var(--accent);
  --toastify-font-family: @apply font-mono
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}