@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-mono;
}

.overlay {
  background: rgba(0 0 0 / 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  justify-items: end;
  z-index: 100;
}

.dialogContent {
	border-radius: 6px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90vw;
	max-width: 500px;
	max-height: 85vh;
	padding: 25px;
}

.shadow-dark {
  background: linear-gradient(to bottom, transparent, rgb(0, 0, 0));
}

.shadow-medium {
	background: linear-gradient(to bottom, transparent, rgb(27, 27, 27));
}

@layer components {
  .button-default {
    @apply flex gap-2 justify-center items-center bg-sky-900 hover:bg-sky-800 disabled:bg-sky-950 transition rounded-full px-6 py-2 w-fit h-fit;
  }

  .button-more {
    @apply flex gap-2 justify-center items-center bg-gray-800 hover:bg-gray-700 transition rounded-full px-6 py-2 w-fit h-fit;
  }

  .button-cancel {
    @apply flex gap-2 justify-center items-center bg-red-800 hover:bg-red-700 transition rounded-full px-6 py-2 w-fit h-fit;
  }

  input {
    @apply text-neutral-950 focus:outline-none px-2 py-1 rounded;
  }

  label {
    @apply flex items-center;
  }
  
  .button-icon {
    @apply p-2 rounded-full hover:bg-neutral-600 cursor-pointer w-fit;
  }
}