@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overscroll-behavior-x: none;
  // overscroll-behavior-y: none;
}
:root {
  --background: #f1efe7;
  --foreground: #0a0a0a;
  --accent: #c07858;
  --accent-4: #E4CBC1;
  --accent-5: #E0BEB0;
  // --inverted: #3f87a7;
  --inverted: #58a0c0;
  --white: #ffffff;
  --black: #3c3d42;
  --gray: #d7d7d7;
  --gray-9: #696B75;
  --green: #58c078;
  --green-5: rgba(88, 192, 120, 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

* {
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-mono;
}

input {
  @apply rounded px-2 py-1 text-[var(--gray-9)] focus:outline-none;
}

[draggable="true"] {
  /* To prevent user selecting inside the drag source */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Basic drag states */
.draggable {
  @apply cursor-grab active:cursor-grabbing hover:cursor-grab focus:cursor-grab;
}

.overlay {
  background: rgba(0 0 0 / 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  justify-items: end;
  z-index: 100;

  &[data-state="open"] {
    animation: fadeIn 100ms ease-out;
  }

  &[data-state="closed"] {
    animation: fadeOut 100ms ease-in;
  }
}

.dialog-content {
  border-radius: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 580px;
  max-height: 90vh;
  padding: 30px;
  background: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dialog-title {
  @apply text-xl;
  font-weight: bold;
}

.dialog-description {
    margin-top: 50px;
}

.dialog-bottom {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  @apply gap-3;
}

.popover-content {
  border-radius: 6px;
  padding: 25px;
  background: var(--background);
  box-shadow:
    hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;

  .arrow {
    fill: var(--background);
  }
}

.shadow-background-bottom {
  background: linear-gradient(to bottom, transparent, var(--background));
}

.shadow-background-top {
  background: linear-gradient(to top, transparent, var(--background));
}

.shadow-background-right {
  background: linear-gradient(to right, transparent, var(--background));
}

.shadow-background-left {
  background: linear-gradient(to left, transparent, var(--background));
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@layer components {
  .button {
    @apply focus:outline-none;
  }

  .button-accent {
    @apply button flex gap-2 justify-center items-center text-[var(--white)] bg-[var(--accent)] transition rounded-full px-6 py-2 w-fit h-fit hover:bg-[var(--black)] disabled:bg-[var(--accent-4)];

    &[data-state="open"] {
      @apply bg-[var(--black)];
    }
  }

  .button-accent-outline {
    @apply button flex h-fit w-fit items-center justify-center gap-2 rounded-full border-2 border-[var(--accent)] bg-[var(--background)] px-6 py-2 text-[var(--accent)] transition hover:border-[var(--black)] hover:bg-[var(--black)] hover:text-[var(--white)];
  }

  .button-outline {
    @apply button flex h-fit w-fit items-center justify-center gap-2 rounded-full border-2 border-[var(--black)] bg-[var(--background)] px-6 py-2 text-[var(--black)] transition hover:border-[var(--black)] hover:bg-[var(--black)] hover:text-[var(--white)];
  }

  .button-accept {
    @apply button flex h-fit w-fit items-center justify-center gap-2 rounded-full bg-[var(--accent)] px-6 py-2 text-[var(--white)] transition hover:bg-[var(--black)] disabled:bg-[var(--accent-4)];
  }

  .button-cancel {
    @apply button flex h-fit w-fit items-center justify-center gap-2 rounded-full bg-[var(--gray-9)] px-6 py-2 text-[var(--white)] transition hover:bg-[var(--black)];
  }

  .button-icon {
    @apply button w-fit cursor-pointer rounded-full p-1 transition-all hover:bg-[var(--black)] flex justify-center items-center;

    &:hover svg {
      @apply button text-[var(--white)];
    }

    &[data-state="open"] {
      @apply bg-[var(--black)];

      svg {
        @apply button text-[var(--white)];
      }
    }
  }

  .button-icon-accent {
    @apply button w-fit cursor-pointer rounded-full p-1 transition-all bg-[var(--accent)] hover:bg-[var(--black)] flex justify-center items-center;

    svg {
      @apply text-[var(--white)]
    }

    &:hover svg {
      @apply button text-[var(--white)];
    }

    &[data-state="open"] {
      @apply bg-[var(--black)];

      svg {
        @apply button text-[var(--white)];
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}