@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1efe7;
  --foreground: #0a0a0a;
  --color-main: #c07858;
  --color-white: #f1efe7;
  --color-black: #3c3d42;
  --color-red: #c07858;
  --color-grey: rgba(131, 140, 139, 0.1);
  /* fab047 */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

* {
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-mono;
}

.overlay {
  background: rgba(0 0 0 / 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  justify-items: end;
  z-index: 100;
}

.dialogContent {
	border-radius: 6px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90vw;
	max-width: 500px;
	max-height: 85vh;
	padding: 25px;
  background: var(--background);
}

.shadow-dark {
  background: linear-gradient(to bottom, transparent, var(--background));
}

@layer components {
  .button-main {
    @apply 
    flex gap-2 justify-center items-center 
    text-[var(--color-white)] bg-[var(--color-main)] 
    transition rounded-full px-6 py-2 w-fit h-fit
    hover:bg-[var(--color-black)] 
    disabled:bg-[var(--color-grey)];
  }

  .button-main-outline {
    @apply 
    flex w-fit h-fit
    items-center justify-center
    gap-2
    px-6 py-2
    rounded-full
    bg-[var(--color-white)]
    text-[var(--color-main)]
    border-2 border-[var(--color-main)]
    transition
    hover:bg-[var(--color-black)]
    hover:border-[var(--color-black)]
    hover:text-[var(--color-white)];
  }

  .button-cancel {
    @apply flex gap-2 justify-center items-center text-[var(--color-white)] bg-[var(--color-black)] hover:bg-[var(--color-white)] hover:text-[var(--color-black)] transition rounded-full px-6 py-2 w-fit h-fit;
  }

  input {
    @apply text-neutral-950 focus:outline-none px-2 py-1 rounded;
  }

  label {
    @apply flex items-center;
  }
  
  .button-icon {
    @apply p-2 rounded-full hover:bg-neutral-600 cursor-pointer w-fit;
  }
}