@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-mono;
}

@layer components {
  .button-default {
    @apply flex justify-center items-center bg-sky-900 hover:bg-sky-800 transition rounded-full px-6 py-2 w-fit h-fit;
  }
  .button-more {
    @apply flex gap-1 justify-center items-center bg-gray-800 hover:bg-gray-700 transition rounded-full px-6 py-2 w-fit h-fit;
  }
  .scroll-shadow {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: linear-gradient(to bottom, transparent, rgb(0, 0, 0));
  }
  input {
    @apply text-neutral-950 focus:outline-none;
  }
}
