.log {
  // @apply flex flex-wrap flex-col h-[calc(var(--height-row)*7)];
  @apply grid grid-cols-7 gap-x-[30px] gap-y-[25px];
}

.dot {
  

  &[data-active="true"] {
    .date {
      color: #fff;
    }
  }
}

.date {
  @apply absolute text-[9px] text-[var(--gray-9)] transition-opacity opacity-0 cursor-default;
}

.grid {
  &:hover {
    .gridHeader {
      opacity: 100;
      
    }

    .date {
      @apply opacity-100;
    }
  }

  .gridHeader {
    opacity: 0;
    @apply transition-opacity;
  }
}